.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    text-transform: uppercase;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // justify-content: space-evenly;

    & .collection-item {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }
}
