.collection-item {
  width: 22vw;
  min-width: 200px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  // margin-bottom: 25px;
  // background-color: #eee;
  position: relative;

  .image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
      padding-left: 5px;
    }

    .price {
      width: 10%;
      padding-right: 5px;
    }
  }
  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }
  &:hover {
    .image {
      opacity: .8;
    }
    .custom-button {
      opacity: .85;
      display: flex;
    }
  }
}
