.collection-preview {
  display: flex;
  flex-direction: column;

  // @media screen and (max-width: 800px) {
  align-items: center;
  // }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    text-align: center;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
